.title {
    height: 50rem;
    width: 100%;

    background-image: url(../imgs/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #fff;


}

.title__div {
    position: relative;
    display: flex;
    width: 90%;
    justify-content: center;
    
}

.title__logoM {
    width: 32rem;   
    height: 32rem;
    background-color: #000000;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    

}

.title__container{
    
    background-color: #1e1d1d;
    opacity: 0.95;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    padding: 1rem 5rem;
    transition: all 5s;
}

.title__intro{
    font-size: 2rem;
    color: #fec32b;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

}

.title__name {
    font-size: 6rem;
    color: white;
    font-weight: bold;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 5%;
    padding-right: 4%;

    transition: all 0.5s;

    &:hover{
        color: #c92629;
        transform: scale(1.2);
    }

}

.title__subsection {
    font-size: 1.5rem;
    text-align: start;
    color: #fec32b;
    padding-top: 2rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.title__intro,
.title__subsection {
    padding-left: 5%;
    padding-right: 5%;
}

.title__network {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.title__network__item {

    width: 22%;
    text-align: center;
    transition: all 0.5s;
    &:hover{
        color: #c92629;
        transform: scale(1.2);
    }

}

.title__logo{
    transition: all 0.5s;
    
    &:hover{
        transform: scale(1.2);
    }
}


.title__p {
    padding-top: 0.5rem;
    
    
}


/* Responsive mobiles */
@media screen and (max-width: 767px) {
    .title {
        height: 68vh;
        width: 100%;
        padding-top: 4rem;
        padding-bottom: 5rem;
    }

    .title__div{
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .title__logoM{
        display: none;
    }

    .title__container{
        width: 31rem;
        padding: 1rem;
        flex: auto;
        border-radius: 5%;
    }
    .title__intro {
        text-align: center;
        font-size: 2rem;
    }

    .title__name {
        text-align: center;
        font-size: 3rem;
    }

    .title__subsection{
        font-size: 1.2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .title__network {
        display: flex;
    }

    .title__network__item {

        width: 100%;
        text-align: center;
    }

    .title__p {
        font-size: 12px;
    }

    

}

@media screen and (min-width: 768px) and (max-width: 1193px) {
    .title {
        height: 68vh;
        width: 100%;
        padding-top: 4rem;
        padding-bottom: 5rem;
    }

    .title__logoM {
        width: 28rem;
        height: 28rem;
    }

    .title__intro {
        text-align: center;
        font-size: 2rem;
    }

    .title__name {
        font-size: 3.3rem;
    }

    .title__subsection {
        font-size: 1.2rem;
    }

    .title__network {
        display: flex;
    }

    .title__p {
        font-size: 1rem;
    }
}