.resenia {
    padding: 2rem 6rem;
    background-color: #03071e;
    color: #edf2f4;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: all 0.5s;
}

.resenia__title__section{
    color: #c92629;
    font-weight: bold;
    width: 100%;
    font-size: 3rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    transition: all 0.5s;
    border-bottom: 5px solid #F4F4F4;

    transition: all 0.5s;
}

.resenia__box {
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.5s;
}

.resenia__box__volteado {
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    transition: all 0.5s;

}


.resenia__img{
    width: 50%;
    transition: all 0.5s;
    border-radius: 2rem;
}

.resenia__info{
    padding: 1rem;
    transition: all 0.5s;
}

.resenia__title {
    padding: 1rem;
    font-weight: bold;
    font-size: 2rem;
    color: #faa307;
    text-align: center;
}

.resenia__year{
    padding: 0.5rem 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.resenia__paragraph{
    padding: 1rem;
    font-weight: lighter;
    text-align: justify;
    font-size: 1.1rem;
}

.resenia__page{
    
    padding: 1rem;
}

.resenia__button{
    border-radius: 1rem;
    background-color: #fff;
    border: none;
    color: #000;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    width: 20rem;
    transition: all 0.5s;
    cursor: pointer;
    padding-bottom: 1rem;

    &:hover {
        color: #fff;
        background-color: #c92629;
        transform: translateY(1rem);
    }
}

/* Responsive mobiles */
@media screen and (max-width: 767px) {
    .resenia{
        padding: 1rem 3rem;
    }
    .resenia__box{
        flex-direction: column;
        padding: 1rem;
    }

    .resenia__box__volteado{
        flex-direction: column;
        padding: 1rem;

    }
    .resenia__img{
        width: 100%;
    }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1193px) {
    .resenia{
        padding: 1rem 2rem;
    }
}